In [1]:
import numpy as np 
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
cat_features = [col for col in test.columns if test[col].dtype == object]
print("Total categorical features:", len(cat_features))
num_features = [col for col in test.columns if test[col].dtype != object]
num_features.remove('id')
print("Total numerical features:", len(num_features))

Total categorical features: 10
Total numerical features: 14

In [3]:
train[num_features].describe()

,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,0.524549,0.504943,0.459321,0.478345,0.455471,0.444115,0.524634,0.503349,0.529938,0.526899,0.455904,0.508337,0.446214,0.506649
std,0.220892,0.201549,0.220642,0.192432,0.200695,0.200089,0.204875,0.225218,0.230860,0.204025,0.204493,0.231612,0.238669,0.235269
min,-0.005600,0.059644,0.004041,0.043953,0.189216,-0.060274,-0.093505,0.158121,0.064161,0.073040,0.208703,-0.087247,0.134760,-0.055105
25%,0.332143,0.338898,0.308655,0.339896,0.279853,0.314121,0.370451,0.291289,0.316662,0.361957,0.278041,0.338747,0.214572,0.352307
50%,0.407365,0.519855,0.425801,0.410090,0.411351,0.457271,0.492208,0.433909,0.558827,0.488867,0.360736,0.441384,0.377823,0.615156
75%,0.732431,0.672809,0.541525,0.604246,0.621808,0.554835,0.654793,0.730870,0.720381,0.752765,0.639388,0.709515,0.719758,0.688150
max,0.961370,1.029773,1.014156,1.093312,0.994050,1.017689,1.052666,0.873579,1.038049,0.972091,1.036541,1.044433,1.006469,0.851746

In [4]:
train[cat_features].describe()

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9
count,300000,300000,300000,300000,300000,300000,300000,300000,300000,300000
unique,7,8,4,2,2,15,8,4,4,2
top,C,A,B,A,A,F,E,B,C,A
freq,121054,292643,297373,276551,281471,107281,267631,149208,183752,162678

In [5]:
def create_features(df):

    df[cat_features] = df[cat_features].apply(lambda x: [ord(c) - 65 for c in x])
    
    return df

train = create_features(train)
test = create_features(test)
all_cols = test.columns.tolist()
all_cols.remove('id')
print("Total number of features:", len(all_cols))

Total number of features: 24

In [6]:
num_features = [col for col in all_cols if not col.startswith('cat')]

minimum = train[num_features].min()
divison = train[num_features].max() - minimum
train[num_features] = (train[num_features] - minimum)/divison
train[num_features].describe()

,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,0.548258,0.459010,0.450721,0.413960,0.330820,0.467909,0.539308,0.482528,0.478265,0.504820,0.298611,0.526282,0.357292,0.619455
std,0.228437,0.207755,0.218432,0.183381,0.249362,0.185617,0.178747,0.314788,0.237050,0.226934,0.247020,0.204662,0.273794,0.259436
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.349280,0.287852,0.301563,0.282023,0.112615,0.347317,0.404788,0.186129,0.259271,0.321358,0.083758,0.376426,0.091558,0.449260
50%,0.427071,0.474381,0.417537,0.348915,0.276001,0.480113,0.511018,0.385470,0.507929,0.462518,0.183651,0.467120,0.278836,0.739108
75%,0.763241,0.632045,0.532102,0.533939,0.537492,0.570622,0.652867,0.800536,0.673815,0.756046,0.520253,0.704052,0.671094,0.819599
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000