2nd Iteration for Tensorflow Competition

In [5]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder,QuantileTransformer,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from catboost import CatBoostRegressor, Pool
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, explained_variance_score

In [16]:
train_df = pd.read_csv("../Dataset/train.csv", index_col=0)
test_df = pd.read_csv("../Dataset/test.csv", index_col=0)
train_df.shape, test_df.shape

((300000, 25), (200000, 24))

In [17]:
train_df.head()

,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,...,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,target
id,,,,,,,,,,,,,,,,,,,,,
1,0.877618,0.724417,0.895799,0.421650,0.281421,0.124454,0.923191,0.719903,0.701915,0.802461,...,A,B,A,A,I,E,D,A,B,6.994023
2,0.326679,0.613252,0.593413,0.346230,0.282354,0.357438,0.437627,0.808464,0.741289,0.546056,...,A,B,A,B,F,E,B,A,A,8.071256
3,0.869133,0.264104,0.865620,0.369602,0.293756,0.454644,0.732209,0.828352,0.695561,0.825251,...,A,B,A,A,N,B,D,C,A,5.760456
4,0.809799,0.494269,0.868099,0.578930,0.769785,0.153735,0.705142,0.614766,0.698125,0.794402,...,A,B,A,A,K,E,D,C,A,7.806457
6,0.343457,0.724447,0.440967,0.705940,0.279105,0.496212,0.486063,0.297743,0.683073,0.462146,...,A,B,A,A,F,E,B,A,B,6.868974

In [18]:
test_df.head()

,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,...,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9
id,,,,,,,,,,,,,,,,,,,,,
0,0.653654,0.285147,0.202234,0.286912,0.701679,0.486284,0.331261,0.302448,0.264308,0.242654,...,E,A,B,A,A,G,E,D,C,B
5,0.318492,0.562065,0.857073,0.397436,0.277480,0.296852,0.402404,0.736251,0.730542,0.516393,...,C,A,B,A,A,L,E,D,C,B
15,0.333572,0.836193,0.586934,0.695284,0.279508,0.760865,0.530677,0.273905,0.759788,0.548555,...,C,A,B,A,A,F,E,D,C,B
16,0.589080,0.414131,0.442475,0.240049,0.479503,0.715786,0.439653,0.311625,0.255382,0.596746,...,E,A,B,B,A,F,E,D,A,A
17,0.285860,0.710961,0.170475,0.329851,0.757845,0.315269,0.389844,0.794931,0.224045,0.263235,...,E,A,B,A,A,I,E,B,A,B